.splash-logo {
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange);
}

.action-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-btn > a {
  margin: 1rem 0.5rem;
  color: var(--darkGray);
  border: 2px solid var(--orange);
  border-radius: 24px;
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  width: 75%;
}

.splash-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.icons-wrap {
  background-color: var(--light-grey);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 2.5rem 1rem;
}

/* Sign up CSS start here */

.user-container {
  /* background-image: url(../assets/login-bg-ilustration.svg); */
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 20%;
  position: relative;
}

/* .user-form-wrap > h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--darkGray);
  margin-bottom: 1rem;
} */

.register-back-btn {
  position: absolute;
  top: 2.5rem;
  left: 1.6rem;
  color: var(--darkGray);
  font-size: 1.5rem;
  cursor: pointer;
}

.border-bottom {
  border-bottom: 1px solid var(--light-grey);
}

.checkbox-wrapper {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 20px;
}

.checkbox-wrapper:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.checkbox-wrapper label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Customizing the checkbox */
.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;

  /* creating a custom design */
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.15em solid var(--orange);
  outline: none;
  cursor: pointer;
}

input.checked {
  background-color: var(--orange);
  position: relative;
}

input.checked::before {
  content: "\2713";
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  position: absolute;
  right: 1px;
  top: -5px;
}

/* input:checked {
  background-color: #007a7e;
  position: relative;
}

input:checked::before {
  content: "\2714";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
} */

.checkbox-wrapper input[type="checkbox"]:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:disabled + span {
  color: #c0c0c0;
}

.checkbox-wrapper input[type="checkbox"]:focus {
  box-shadow: 0 0 5px #a7a7a7;
}
