* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {                                                                                
  --orange: #F9A109;
  --navIconColor: #454545;
  --white: #fff;
}

.App {
  display: grid; 
  grid-template-columns: 61.58px 1fr 389rem; 
}